<table>
     <tr>
     <th><%= f.label :name  %></th>
     <td><%= f.text_field :name  %></td>
     </tr>
     <tr>
     <th><%= f.label :email  %></th>
     <td><%= f.email_field :email  %></td>
     </tr>
     <th><%= f.label :password  %></th>
     <td><%= f.password_field :password  %></td>
     </tr>
     <tr>
     <th><%= f.label :password_confirmation  %></th>
     <td><%= f.password_field :password_confirmation  %></td>
     </tr>  
     <tr>
     <th><%= f.label :admin  %></th>
     <td><%= f.check_box :admin  %></td>
     </tr>     
   </table> 
   