<% provide(:title, "Edit User")  %>
<%= link_to "Back to All Users", root_path %>

<h1>Edit User <%= @user.name %></h1>

<div>
  <%= form_for(@user) do |f|  %>
    <%= render "shared/error_messages" %>
    <%= render "form", f: f %>
    
    <div>
      <%= f.submit "Update User" %>
    </div>
   <% end  %>
</div>  