<% provide(:title, "All users")  %>
<h1>All Users</h1>
<%= link_to "add user", new_user_path  %>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <% @users.each do |user|  %>
    <tr>  
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Edit", edit_user_path(user.id) %></td>
      <% if user.admin %>
      <td><%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure? "} %></td>
      <% end  %>
    </tr>
    <% end  %>
    
  </table>
</div>  
