<% provide(:title, "New")  %>
<%= link_to "Back to All Users", root_path  %>
<h1>Add New User</h1>
<br />
<div>
<%= form_for(@user) do |f| %>
   
   <%= render 'shared/error_messages' %>
   <%= render 'form', f: f  %>
   
   <div>
     <%= f.submit "Create User"  %>
   </div>   
<% end  %>
</div>