
<% provide(:title, "Show User")  %>
<%= link_to "Back to All Users", root_path %>

<div>
  <h1>Hi <%= @user.name %>!</h1>
  
  <table>
    <tr>
      <th>Email: </th>
      <td><%= @user.email %></td>
    </tr>  
    
  </table>    
</div>