<% if @user.errors.any?  %>
  <div>
  <p>The form contains <%= pluralize( @user.errors.count, " error") %></p>
  
  <ul>
  <% @user.errors.full_messages.each do |msg|  %>
    <li><%= msg  %></li>
  <% end  %>
  </ul>
  </div>
<% end  %>